.about-us-container{
    margin-top: 50px;
}

.about-us-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    gap: 30px;
}

.about-us-title{
    width: 40%;    
    line-height: 90px;
    font-size: 30px;
}

.about-us-first-img{
    width: 60%;    
}


.about-us-first-img img{
    width: 100%;    
    height: auto;
}

.about-us-text{
    width: 60%;    
    line-height: 40px;
    font-size: 20px;
    text-align: justify;
}

.about-us-second-img{
    width: 40%;    
}

.about-us-second-img img{
    width: 100%;    
    height: auto;
}
