@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    background-color: #fafafa;
}

button {
    cursor: pointer;
}



.shadow{
    -webkit-box-shadow: 3px 3px 8px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 3px 8px 0px rgba(148,148,148,1);
    box-shadow: 3px 3px 8px 0px rgba(148,148,148,1);
}

/* Main */

main {
    background-color: #fafafa;
    margin: auto;
    color: #303030;
}

/* Content */

.width-content {
    max-width: 1200px;
    margin: auto;
}

/* ***********
*            *
*    Home    *
*            *
*********** */

.home-container {
    display: flex;
    flex-direction: column; /* Asegura que las filas estén una debajo de la otra */
    width: 100%;
    margin-bottom: 20px;
}


.row-home-img {
    margin-top: 20px;
    display: flex; /* Hace que las imágenes se alineen en una fila */
    width: 100%;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    gap: 20px;
}

.calzado-img,
.outfit-img {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.tecno-img,
.accesorios-img {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.img-hover-grow-right {
    transition: transform 400ms; /* Añadido para animar el cambio de tamaño */
    transform-origin: right; /* Asegura que la imagen se agrande desde el centro */
}

.img-hover-grow-right:hover {
    transform: scale(1.03); /* Agranda la imagen al 110% */
}

.img-hover-grow-left {
    transition: transform 400ms; /* Añadido para animar el cambio de tamaño */
    transform-origin: left; /* Asegura que la imagen se agrande desde el centro */
}

.img-hover-grow-left:hover {
    transform: scale(1.03); /* Agranda la imagen al 110% */
}

/* Carrito */




.envios-gratis {
    background-color: #131313;
    text-align: center;
    height: 80px;
    padding: 25px 0 10px 0;
    margin-top: 14px;
}

.rotating-text {
    font-size: 1.2rem;
    color: #ffffff;
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


.privacy-content{
    margin: 50px 0 100px 0;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
    height: 450px;
}

.terms-content{
    margin: 50px 0 20px 0;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
}

.terms-list{
    line-height: 30px;
    padding-left: 20px;
}

.terms-list li{
    margin-bottom: 10px;
}